
<!--
<!DOCTYPE html>
<html>
<head>
    <title>Favorite Acronym</title>
</head>
<body>
    <h1>Annalise's Favorite Acronym</h1>
    <p>Annalise Sean : LASER (Light Amplification by Stimulated Emission of Radiation)</p>
</body>
</html>
-->


{% extends "bootstrap/base.html" %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Annalise's Favorite Acronym</h1>
    <p class="text-center">Annalise Sean : LASER (Light Amplification by Stimulated Emission of Radiation)</p>

    <div class="text-center mt-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Flask_logo.svg/512px-Flask_logo.svg.png" class="rounded w-50">
    </div>
</div>
{% endblock %}

